<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOG_TEMP" value="Log/"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="application_name" source="spring.application.name"/>
    <springProperty scope="context" name="logstash_connect_info"
            source="log.logstash.connect-info"/>
    <springProperty scope="context" name="logncrash_app_key" source="log.logncrash.app-key"/>
    <springProperty scope="context" name="profile" source="spring.profiles.active"/>

    <appender name="logncrash" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <param name="includeCallerData" value="false"/>
        <param name="queueSize" value="2048"/>
        <param name="neverBlock" value="true"/>
        <param name="maxFlushTime" value="60000"/>

        <appender name="logNCrashHttp"
                class="com.toast.java.logncrash.logback.LogNCrashHttpAppender">
            <param name="logSource" value="${profile}"/>
            <param name="appKey" value="${logncrash_app_key}"/>
            <param name="version" value="1.0.0"/>
            <param name="category" value="${application_name}"/>
            <param name="errorCodeType" value="action"/>
        </appender>
    </appender>

    <root level="INFO">
        <appender-ref ref="logncrash"/>
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.springframework" level="INFO"/>
    <logger name="shop.yesaladin" level="DEBUG"/>
</configuration>