|===
|필드명|설명|선택값|포맷|기본값
{{#parameters}}
|{{name}}
|{{description}}
|{{#optional}}{{optional}}{{/optional}}{{^optional}}false{{/optional}}
|{{#format}}{{format}}{{/format}}{{^format}}_{{/format}}
|{{#default value}}{{default value}}{{/default value}}{{^default value}}_{{/default value}}

{{/parameters}}
|===